@model List<CheeseMVC.Models.CheeseMenu>

<h2>@ViewBag.Title</h2>

@foreach (var menu in Model)
{
    <ul>
        <a asp-controller="Menu"
        asp-action="ViewMenu"
        asp-route-id="@Model.MenuID">@model.MenuID</a>
    </ul>
}

<p><a asp-controller="Menu" asp-action="Add"</a></p>
