@model IEnumerable<CheeseMVC.Models.CheeseMenu>
<br />
<h2>Menus</h2>

@foreach (var menu in Model)
{
    <ul>
        <a asp-controller="Menu"
        asp-action="ViewMenu"
        asp-route-id="@menu.MenuID">@menu.Menu</a>
    </ul>
}

<p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>


